.text{
  width: 450px ;
  height:55px;
  background-color: transparent;
  
  color:white;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 0px;
  font-size:1.3rem;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  
  


}
::placeholder{ color: white}
.search{
    
    margin-left: 700px;
    border:1px solid;
    width:534px;
    height:40px;
    border-radius: 5px;
    color:white;
   padding-left: 0px;
   margin-bottom: 50px;

}
.boton{
    border-left: 1px solid white;
    border-radius: 5px;
    width:79px;
    height:60px;
    background-color:transparent;
    color:white;
    padding-right: 0px;
    font-size:1.3rem;
    backdrop-filter: blur(20px);
    font-family:Arial, Helvetica, sans-serif;
}
.boton:hover{
  background-color: white;
  color: black
}
