
#but123 { 
  background-color:black
}
.selectG[multiple] {
    height: 1.5em;
    vertical-align: top;
  }
.selectG[multiple]:focus,
.selectG[multiple]:active {
    height: auto;
}
.selectG{
  margin-left: 15px;
  margin-top: 5px;
  height:40px;
  width: 140px;
  color: white;
  font-size:1rem;
  font-family:Arial, Helvetica, sans-serif;
  background-color:transparent;
  backdrop-filter: blur(10px);
}
.selectP[multiple]{
  height: 1.5em;
  vertical-align: top;
}
.selectP[multiple]:focus,
.selectP[multiple]:active {
    height: auto;
}
.selectP{
  margin-left: 15px;
  margin-top: 5px;
  width: 100px;
  color: white;
  font-size:1rem;
  font-family:Arial, Helvetica, sans-serif;
  background-color:transparent;
  backdrop-filter: blur(10px);
}
.page{
    display: flex;
    position:fixed

  }
#prueba1{
    width: 20px;
    height: 20px;
    background-color: black
  }

.inputpru{
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  border: solid 1px;
  height: 35px;
  width: 300px;
  padding-left: 20px;
}

.tittle{
   text-align:center;
 }
#hola{
  background-color: white;
}
.divCreate {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position:fixed;
    margin-right: 50%;
    align-items: left;
    height:100%;
    width: 50%;
    text-align: left;

}
form{
  padding-left: 80px;
  border: solid 1px;
  padding-bottom: 20px;
  width: 600px;
  margin-top: 40px;
  margin-left:30px;
  backdrop-filter: blur(10px);
}

  .description{
    padding-top: 20px;
    padding-right: 50px;
    text-align: left
  }

.sub{
  margin-left: 170px;
    margin-bottom: 20px;
}  
 input{
  
   
   width: 200px;
 }
  .image{
   padding-top:30px
  }
.rating{
  padding-top: 30px;
}
.released{
  padding-top: 30px;
}
.platforms{
  padding-top: 30px;
  width:50;
  height:130px
}
.contenedor{
  display: flex;
}
.genres{
  padding-top: 30px;
  height:130px
}
.checked{

font-size: 1.2rem;
}
.divplatforms{
  display: flex;
  flex-direction: row;
  border-top: 1px solid ;
  
}
.divgenres{
  display: flex;
  flex-direction: row;
  border-top: 1px solid 
}
.prueba43{
  background-color: white;
  width: 10px;
  height:10px;
  font-size: 5px;
  color: red;
 margin-left: 1px;
  margin-bottom: 28px;
}

.divconta{
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 0px;
  align-items: center;
  border: 1px solid;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  
}
.divconta1{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 0px;
  align-items: center;
  border: 1px solid;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  
}


/*
.previ{
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 50%;
  height: 100%;
  width: 50%;
}
.previsualizacion{
  display: flex;
  border: solid 1px;
  position: fixed;
  margin-top: 80px;
    backdrop-filter: blur(20px);
    width: 900px;
    height: 80%;
}
.nameprev{
  margin-top: 100px;
  position: fixed;
  margin-left: 350px;
  font-size: 2rem;
    text-align: center;

}
.descriptionprev{
  display: flex;
  margin-top: 150px;
  position: fixed;
  margin-left: 50px;
  font-size: 1.3rem;
  width:300px;
  height:200px
}
.pr{
  margin-top: 100px;
  text-align: left;
  width:300px;
  height:200px;
  position: absolute;
}
.imagess{
  position: fixed;
  margin-top:80px;
  margin-left:500px;
  width:300px;
  height:250px;
  border:solid 1px ;
}
.ratingprev{
  position: fixed;
  margin-top: 200px;
  margin-left:-70px;
  font-size:1.5rem
}
 */
 
