.lareputamadre{
    text-decoration: none;
}
.tittle{
    position: ;
}
.h1{
    font-size: 3rem;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 6rem;
    text-align:left;
    padding-left: 2rem;
    text-decoration: none;
    
}
.pruebas{
    position: fixed;
    background-color:transparent;
    background-image:url(../../Boton.png);
    background-size:cover;
    background-position: top center;
    width:420px; 
    height: 310px;
    border: none;
    left: 100px;
    top:150px;
    
    
}
.pruebas:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.pruebas:hover{
    background-color: transparent;
    
    background: repeating-linear-gradient(12px);
    cursor: pointer;
}

.divWel{
    
    border:none;
    display:flex;
    margin-right: 1240px;
    margin-left: 100px;
    padding-left: 20px;
    height:220px;
    width: 420px;
 
}
.divWel:hover{
    background-color: rgba(255, 255, 255, 0.74);
    color: black
}
.link{
    text-decoration: none;
}
a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem; 
    color: white;
}
a:hover{
    color: black;
}
.divs{
    height: 100%;
    width: 100%;
    position: fixed;
}

.prest{
    font-size: 1.7rem;
    margin-top: 550px;
    margin-left: 510px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 400px;
}
